
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
  
  
  <body>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Summary</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="stock_impact">Stock Impact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="stock_comparison">Crash Comparisons</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="crashdata">Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="api">API</a>
            </li>  
        </ul>
      </div>
    </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-top:30px; margin-top: 10px;">

              <h1> Stock Price Vs Crash Date </h1>
              <form class="form-inline">
                <div class="form-group">
                  <label for="stockInput">Select a Manufacturer</label>
                  <select class="form-control" id="stockInput" placeholder="Select Manufacturer">
                    <option value="BA">Boeing</option>
                    <option value="AIR">Airbus</option>
                  </select>
                  <label for="stockInput">Select an Airline</label>
                  <select class="form-control" id="stockInput2" placeholder="Select Airline">
                    <option value="AAL">American Airlines</option>
                    <option value="ALK">Alaskan Airlines</option>
                    <option value="DAL">Delta Airlines</option>
                    <option value="SAVE">Frontier Airlines</option>
                    <option value="JBLU">Jet BlueAirlines</option>
                    <option value="JETS">Airline Industry ETF</option>
                    <option value="LUV">Southwest Airlines</option>
                    <option value="UAL">United Airlines</option>
                  </select>
                </div>
                <button id="submit" type="submit" class="btn btn-default">Plot Stocks</button>
              </form>
              <div id="plot"></div>     
        </div>
    </div> 
                        
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="static/js/plots.js"></script>
</body>
</html>